body {
  display: flex;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  background-color: #838383;
  width: 100%;
}
.counterBody{
  width: 80%;
  display: flex;
  align-items: center;
  padding: 15px 50px;
  justify-content: space-evenly;
  background: #333333;
  color: white;
}


#root{
  margin: 5px;
}
.count{
  
  display: flex;
  justify-content: flex-end;

}
.remove{
  padding: 10px !important;
}
.titleBody{
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: lightgray;
  padding: 10px;
  margin-top: 2px;
  box-shadow: 7px 14px 19px -6px rgb(0 0 0 / 66%);
  background: #444444;
  width: 80%;
  margin: 0 auto;
  margin-top: 3px;
}
.container{
  background: #333333;
  width: 500px;
  height: 500px;
}
.delete:hover{
  background: crimson;
}
input{
  outline: none;
  border: none;
}
.delete,.add{
  margin: 2px;
    font-weight: bold;
    color: white;
    background: #FF9900;
    cursor: pointer;
    border: none;
    padding: 5px 24px;
    border-radius: 5px;
}
.removeAll{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.add:hover{
  background: rgb(23, 99, 23);
}

input{    border-radius: 5px;padding: 10px;}

.tableForm{
  padding: 17px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.Bodylistitem{
  border-radius: 3px;
}
.listItems{
  height: 300px;
  overflow-y: scroll;
}
.listItems::-webkit-scrollbar {
  display: none;
}